{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-bottom:20px; margin-top:20px;max-width:1200px">
        <div class="row">


            {% for album in albums.items %}
                {% if album.album_type in ["album", "compilation"] %}
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
                    <div class="thumbnail bootsnipp-thumb">
                        <div>
                            {#<p class="pull-right view-counts hidden-md">#}
                            {#<a href="http://bootsnipp.com/snippets/33z1D" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">{{ playlist.tracks.total }} <i class="fa fa-music"></i></a>#}
                            {#</p>#}
                            <p class="lead snipp-title">
                                <a href="{{ path('album', {"album": album.id}) }}">{{ album.name }}</a>
                            </p>

                        </div>
                        <div class="caption">
                            {%  if album.images[0] is defined %}
                                <a href="{{ path('album', {"album": album.id}) }}"><img src="{{ album.images[0].url }}" width="100%" /></a>
                            {% else %}
                                <a href="{{ path('album', {"album": album.id}) }}"> <img src="http://placehold.it/600x600" width="100%" /></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                    {% endif %}
            {% endfor %}

        </div>
    </div>


{% endblock %}