<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>


        <link rel="stylesheet" href="{{ 'css/bootstrap.min.css' }}" />
        <link rel="stylesheet" href="{{ 'css/global/components.min.css' }}" />
        <link rel="stylesheet" href="{{ 'css/global/plugins.min.css' }}" />
        <link rel="stylesheet" href="{{ 'css/layouts/layout/layout.min.css' }}" />
        <link rel="stylesheet" href="{{ 'css/layouts/layout/themes/grey.min.css' }}" />


        <link rel="stylesheet" href="{{ 'css/style.min.css' }}" />


        <script src="{{ 'js/jquery.js' }}"></script>
        <script src="{{ 'js/bootstrap.js' }}"></script>
        <script src="{{ 'js/require.js' }}"></script>
        <script src="{{ 'js/PRWspotify.js' }}"></script>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


    </head>
    <body>

    {% if app.environment == 'dev' %}
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    {% endif %}


        {% include "header.html.twig" %}


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
