{% extends 'base.html.twig' %}
{% block body %}

    {#{{ dump(results) }}#}


    <div class="container" style="margin-bottom:20px; margin-top:20px;max-width:1200px">


        {{ include('search/tracks.html.twig', { 'tracks': results.tracks.items }) }}
        {{ include('search/artists.html.twig', { 'artists': results.artists.items }) }}
        {{ include('search/playlists.html.twig', { 'playlists': results.playlists.items }) }}
        {{ include('search/albums.html.twig', { 'albums': results.albums.items }) }}



    </div>


{% endblock %}